# Build output
**/bin/
**/obj/
**/dist/
**/out/

# .NET / VS / OS
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
.DS_Store
Thumbs.db

# Binaries
*.exe
*.dll
*.so
*.dylib
*.pdb

# Test data & artifacts
*.pbo
*.p3d
test_p3ds/
test_output_*/
*.log
